# .gitignore

# Ignore system files
.DS_Store

# Ignore Python virtual environments
venv/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/
.idea/

# Ignore files related to Jupyter project
.jupyter/
.ipython/



# Ignore log files
*.log